@charset "ISO-8859-1";

main {
	padding:20px;
}

main section {
	margin: auto;
	border: 3px solid #fff;
	width:550px;	
	padding:20px;
	text-align: center;
}


/* Classe clear qui permet de repositionner la page après un flottant */
.clear {
	clear: both;
}

main h2{
	color:green;
	text-align: center;
}

.select select {
	background: white;
   width: 268px;
   padding: 5px;
   font-size: 16px;
   line-height: 1;
   border: 1;
   border-radius: 0;
   height: 34px;
}

textarea {
  width: 500px;
  height: 250px;
  overflow: hidden;
  resize: none;
}